<header>
	<!-- <nav class="container-fluid " style="background-color: #023f75; height: 125px;"	>
    <a><img src="./assets/logo-bps.png" alt="Texto alternativo" height="50px" width="128"></a>
  <span style="text-align: center" class="align-middle">
    <h3>Bienvenidos al</h3>
    <h1>MENÚ DE ATYR</h1>
  </span>
</nav> -->
	<nav class="justify-content-middle row" style="background-color: #023f75;">
		<div class="col-13">
			<div class="text-center ">
				<h3>Bienvenidos al</h3>
				<h1>MENÚ DE ATYR</h1>
			</div>
			<div lass="col-3">
				<a><img src="./assets/logo-bps.png" alt="Logo" height="30" class="mr-3"></a>
			</div>
		</div>
	</nav>


</header>



<main role="main" style="padding-bottom: 0;">

	<section class="jumbotron text-center">

		<div class="container">

		</div>
	</section>

	<div class="album py-5 bg-light" style="min-height: 400px; margin-bottom: 5%">
		<div class="container">
		</div>
	</div>

</main>

<footer class="text-muted bg-dark" style="height: 6%;">
</footer>