.contenedor table {
  width: auto; 
  border-collapse: collapse;
  background-color: #fff;
}

.contenedor th,
.contenedor td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  width: 100px; 
  height: 40px;
}

.contenedor th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.contenedor {
  display: flex;
}

.tabla-container {
  margin-right: 20px; 
}

.centrado {
  display: flex;
  justify-content: center; 
}