<body>
	<header>
		<div class="navbar navbar-dark bg-dark box-shadow">
			<div class="container d-flex justify-content-between">
				<a routerLink="inicio" routerLinkActive="active" class="nav-link text-end"
					style="font-size: 17px ;color: white; padding-top: 15px;">INICIO</a>
				<a><img src="./assets/logo-ibm.png" alt="Texto alternativo" style="width: 90px; height: 50px;"></a>
			</div>
		</div>
	</header>



	<main role="main" style="padding-bottom: 0;">

		<section class="jumbotron text-center">
			<h1 class="text-center titulo">{{title}}</h1>
			<div class="container">

			</div>
		</section>

		<div class="album py-5 bg-light" style="min-height: 400px; margin-bottom: 5%">
			<div class="container">

				<app-gerente *ngIf="esRutaGerente()"></app-gerente>
				<app-inicio *ngIf="esRutaInicio()"></app-inicio>
				<app-planilla *ngIf="esRutaPlanilla()"></app-planilla>
				<app-directorr *ngIf="esRutaDirector()"></app-directorr>
			</div>
		</div>

	</main>

	<footer class="text-muted bg-dark" style="height: 6%;">
	</footer>
</body>